@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

:root {
    --primary-bg-main: hsl(233, 47%, 7%);
    --primary-bg-card: hsl(244, 38%, 16%);
    --primary-text-accent: hsl(277, 64%, 61%);

    --secondary-text-attribution: hsl(228, 45%, 44%);

    --neutral-text-white: hsl(0, 0%, 100%);
    --neutral-text-main: hsla(0, 0%, 100%, 0.75);
    --neutral-text-stat: hsla(0, 0%, 100%, 0.6);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--primary-bg-main);
    color: var(--neutral-text-white);
    font-family: 'Inter', sans-serif;
    padding: 88px 24px;
}

.card {
    background-color: var(--primary-bg-card);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    max-width: 654px;
    margin: auto;
}

.hero,
.hero::before,
.hero--image {
    border-radius: 10px 10px 0 0;
}

.hero {
    position: relative;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 4px;
    left: 0;
    background: var(--primary-text-accent);
    mix-blend-mode: multiply;
}

.hero--image {
    max-width: 100%;
}

.card--heading {
    padding: 39px 34px 22px;
    text-align: center;
    font-size: 1.75rem;
}

.accent {
    color: var(--primary-text-accent);
    font-style: normal;
}

.card--main {
    color: var(--neutral-text-main);
    text-align: center;
    font-size: 15px;
    padding: 0 34px;
    line-height: 28px;
}

.card--stats {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 49px 0 38px;
}

.card--stats dt {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0.4rem;
}

.card--stats dd {
    letter-spacing: 1px;
    margin-bottom: 2rem;
}

.card--stats dd:last-of-type {
    margin-bottom: 0;
}

.card--stats-upper {
    color: var(--neutral-text-stat);
    text-transform: uppercase;
    font-size: 12px;
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 2rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.attribution a {
    color: var(--secondary-text-attribution);
}

@media (min-width: 1440px) {
    body {
        padding: 11rem 10.25rem;
    }
    
    .card {
        flex-direction: row;
        max-height: 448px;
        max-width: 1113px;
    }

    .hero,
    .hero::before,
    .hero--image {
    border-radius: 0 10px 10px 0;
    }

    .hero {
        order: 2;
        flex: 1 0 auto;
        width: 52%;
        max-width: 543px;
    }

    .hero::before {
        bottom: 0;
    }

    .hero--image {
        width: 100%;
    }

    .card-body {
        order: 1;
        flex: 1 0 auto;
    }

    .card--heading {
        font-size: 34px;
        padding: 71px 75px 24px;
        text-align: left;
    }

    .card--main {
        text-align: left;
        padding: 0 122px 0 75px;
    }

    .card--stats {
        flex-direction: row;
        flex-wrap: wrap;
        text-align: left;
        margin: 70px 0 0 75px;
    }

    .card--stats dt {
        order: 1;
        margin-bottom: 7px;
        width: 27%;
    }
    
    .card--stats dd {
        order: 2;
        margin-bottom: 0;
        width: 27%;
    }
}